<template>
  <button
    @click="onClickAction"
    :style="{ background: color, color: textColor }"
    class="btn"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'CustomButton',
  props: {
    text: {
      type: String,
      default: 'Click'
    },
    color: {
      type: String,
      default: 'green'
    },
    onClickAction: {
      type: Function,
      default: () => {}
    },
    textColor: {
      type: String,
      default: '#000'
    }
  }
};
</script>

<style scoped>
.btn {
  font-size: 20px;
  min-width: 80px;
  max-width: 150px;
  border-radius: 5px;
  outline: none;
}
</style>
