<template>
  <div
    @click="onCardClicked(card)"
    :style="{
      backgroundImage:
        card.isShown || card.isSolved ? 'url(' + card.logoUrl + ')' : ''
    }"
    class="card"
  ></div>
</template>

<script>
export default {
  props: {
    card: {
      type: Object,
      required: true
    },
    onCardClicked: {
      type: Function
    }
  }
};
</script>

<style scoped>
.card {
  width: 100px;
  height: 140px;
  background: #1f4059 url('../assets/vcraft.png') no-repeat center;
  background-size: contain;
  margin: 10px 20px;
}
</style>
