<template>
  <div>
    <div v-if="level" class="heading">
      <span class="mr-2 time-info"
        >Your time is:
        <span style="font-weight: 800">{{ timerTime | parseTime }}</span></span
      >
      <span class="mr-2">Moves: {{ movesCounter }}</span>
      <CustomButton
        :text="'reset'"
        color="#ddd"
        :onClickAction="startNewGame"
      />
    </div>
    <div
      :style="{
        maxWidth: level < 3 ? '650px' : '900px'
      }"
      class="list-wrapper"
      v-if="cardsList.length"
    >
      <div :key="index" v-for="(card, index) in cardsList">
        <CardItem :onCardClicked="onCardClicked" :card="card" />
      </div>
    </div>
    <transition name="fade">
      <div class="game-over text-center" v-if="isGameOver">
        <span class="time-info"
          >You won! Your time is : {{ timerTime | parseTime }}</span
        >
        <span class="">You made {{ movesCounter }} moves</span>
        <CustomButton
          :text="'Start new game'"
          color="#1f4059"
          :textColor="'#fff'"
          :onClickAction="startNewGame"
        />
        <!-- <button @click="startNewGame">Start new game</button> -->
      </div>
    </transition>
  </div>
</template>

<script>
import CardItem from './CardItem';
import CustomButton from './Button';

export default {
  components: {
    CardItem,
    CustomButton
  },
  props: {
    level: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      isClickDisabled: false,
      movesCounter: 0,
      timerTime: 0,
      timer: null,
      cardsList: [],
      logoUrls: {
        1: [
          'https://upload.wikimedia.org/wikipedia/en/a/a7/StanMarsh.png',
          'https://upload.wikimedia.org/wikipedia/en/thumb/7/77/EricCartman.png/220px-EricCartman.png',
          'https://upload.wikimedia.org/wikipedia/en/thumb/2/25/KyleBroflovski.png/165px-KyleBroflovski.png',
          'https://vignette.wikia.nocookie.net/southpark/images/6/6f/KennyMcCormick.png/revision/latest?cb=20160409020502'
        ],
        2: [
          'https://upload.wikimedia.org/wikipedia/en/0/06/ButtersStotch.png',
          'https://vignette.wikia.nocookie.net/southpark/images/c/c2/Craig-tucker.png/revision/latest?cb=20160402121203'
        ],
        3: [
          'https://vignette.wikia.nocookie.net/southpark/images/9/9d/Tweek_pic.png/revision/latest?cb=20160402115548',
          'https://ubistatic19-a.akamaihd.net/resource/en-us/game/southpark/thefracturedbutwhole/spfbw-towelie%402x.png',
          'https://cdn.shopify.com/s/files/1/0170/5859/4880/files/randyVideoOverlay_550a63f5-5ff4-4ac7-917f-630ba96e4673_1980x.png?v=1578523609'
        ]
      },
      openedCards: []
    };
  },
  computed: {
    isGameOver() {
      return this.cardsList.length && this.cardsList.every((el) => el.isSolved);
    }
  },
  filters: {
    parseTime(value) {
      const minutes = Math.floor(value / 60);
      return `${minutes < 10 ? '0' : ''}${minutes}:${
        value % 59 < 10 ? '0' : ''
      }${value % 59}`;
    }
  },
  methods: {
    generateCardsList() {
      try {
        const imagesList = [];
        switch (this.level) {
          case 1:
            imagesList.push(...this.logoUrls['1']);
            break;
          case 2:
            imagesList.push(...this.logoUrls['1'], ...this.logoUrls['2']);
            break;
          case 3:
            imagesList.push(
              ...this.logoUrls['1'],
              ...this.logoUrls['2'],
              ...this.logoUrls['3']
            );
            break;
          default:
            break;
        }
        const imgList = [...imagesList, ...imagesList];
        this.cardsList = new Array(imgList.length).fill(null).map(() => {
          const logo = imgList.splice(
            Math.floor(Math.random() * imgList.length),
            1
          );
          return {
            id: Math.floor(Math.random() * 100000),
            logoUrl: logo[0],
            isShown: false,
            isSolved: false
          };
        });
      } catch (error) {
        console.log(error);
      }
    },
    startNewGame() {
      clearInterval(this.timer);
      this.timerTime = 0;
      this.movesCounter = 0;
      this.openedCards = [];
      this.timer = setInterval(() => {
        ++this.timerTime;
      }, 1000);
      this.generateCardsList();
    },
    hideCards() {
      this.cardsList = this.cardsList.map((el) => {
        el.isShown = false;
        return el;
      });
    },
    onCardClicked(clickedCard) {
      if (
        this.isClickDisabled ||
        (this.openedCards[0] && clickedCard['id'] === this.openedCards[0]['id'])
      ) {
        return;
      }
      this.movesCounter++;
      this.openedCards.push(clickedCard);
      if (this.openedCards.length > 2) {
        this.hideCards();
        this.openedCards = [];
        this.openedCards.push(clickedCard);
      }
      if (this.openedCards.length === 2) {
        if (this.openedCards[0]['logoUrl'] === this.openedCards[1]['logoUrl']) {
          this.cardsList = this.cardsList.map((el) => {
            if (this.openedCards.some((card) => card.id === el.id)) {
              el.isSolved = true;
            }
            return el;
          });
        } else {
          this.isClickDisabled = true;
          setTimeout(() => {
            this.hideCards();
            this.openedCards = [];
            this.isClickDisabled = false;
          }, 1000);
        }
      }
      this.cardsList = this.cardsList.map((el) => {
        if (el.id === clickedCard.id) {
          el.isShown = !el.isShown;
        }
        return el;
      });
    }
  },
  beforeDestroy() {
    if (this.timer) {
      clearInterval(this.timer);
    }
  },
  watch: {
    isGameOver() {
      if (this.isGameOver) {
        clearInterval(this.timer);
      }
    },
    level(newV, oldV) {
      if (newV !== oldV && newV) {
        this.openedCards = [];
        this.startNewGame();
      }
    }
  }
};
</script>

<style scoped>
.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.heading {
  text-align: center;
}
.time-info {
  margin-bottom: 10px;
  font-size: 20px;
}
.game-over {
  position: absolute;
  width: 30vw;
  height: 15vh;
  top: 40%;
  left: 35%;
  background: #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
