<template>
  <div id="app">
    <h1 class="heading-text text-center">Test Vue app for Visual Craft</h1>
    <div class="game">
      <div class="flex">
        <h2>Pick level:</h2>
        <div style="margin-left: 20px">
          <CustomButton
            :onClickAction="setDifficulty.bind(this, 1)"
            color="#63CD41"
            :text="'Noob'"
          />
          <CustomButton
            :onClickAction="setDifficulty.bind(this, 2)"
            color="#FFDD39"
            :text="'Inter'"
          />
          <CustomButton
            :onClickAction="setDifficulty.bind(this, 3)"
            color="#F34635"
            :text="'Pro'"
          />
        </div>
      </div>
      <Game :level="level" />
    </div>
  </div>
</template>

<script>
import Game from './components/Game.vue';
import CustomButton from './components/Button';

export default {
  name: 'App',
  components: {
    Game,
    CustomButton
  },
  data() {
    return { level: 0 };
  },
  methods: {
    setDifficulty(level) {
      this.level = level;
    }
  }
};
</script>

<style>
/* common styles */
body {
  margin: 0;
}
#app {
  min-height: 100vh;
  background: radial-gradient(#ffffff, #d9dbe9);
}
.heading-text {
  margin: 0;
  padding-top: 20px;
}
.text-center {
  text-align: center;
}
.mr-2 {
  margin-right: 20px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
